<div >
    <nav>
      <div class="row">
        <div class="col-sm-4">
            <button  id="step1" routerLink="step1">Step 1</button>
        </div>
        <div class="col-sm-4">
            <button id="step2" routerLink="step2" [disabled]="step2Disabled">Step 2</button>
        </div>
        <div class="col-sm-4">
            <button id="step3" routerLink="step3" [disabled]="step3Disabled">Step 3</button>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
    <hr>
    <img *ngIf="!step2Disabled"[src]="imgUrl"/>
  
  </div>
