<div>
    <h1>Step 1 : Choose your model and color</h1>
    <form>
        <div>
            <label for="model">Model</label>
            <select 
                [(ngModel)]="selectedModel" 
                (ngModelChange)="onModelChange()"
                name="model"   
                id="modelSelect"     
            >   
                <option [ngValue]="model" *ngFor="let model of vehicleModels">{{model.description}}</option>
            </select>
        </div>
        <div *ngIf="selectedModel">
            <label for="color">Color</label>
            <select 
                [(ngModel)]="selectedColor" 
                name="color" 
                (ngModelChange)="onColorChange()"
                id="colorSelect"
                >
                <option [ngValue]="color" *ngFor="let color of selectedModel.colors">{{color.description}}</option>
            </select>
        </div>
    </form>
   </div>
